.header {
    width: 100%;
    /*background-color: #eee8d5;*/
    display: grid;
    grid-template: "l l t t t p p ct c";
    /*border-bottom: 1px solid var(--c_black_purple);*/
    /*box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.55);*/
}

.header_container {
    min-width: 50rem;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #fff;
}

.horizontal_navbar {
    /*top: 4rem;*/
    /*height: 4rem;*/
    /*left: 7rem;*/
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

.horizontal_navbar nav {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal_navbar nav div {
    margin: 0 1rem 0.3rem;
}

.name_div{
    grid-area: l;
    color: var(--c_black_purple);
    font-weight: bolder;
    font-size: 3rem;
    padding: 0.5rem;
    margin: 0 2rem;
    font-family: 'Kanit', sans-serif;
    text-shadow: 1px 1px black;
}

.menu_btn {
    font-size: 3rem;
    grid-area: b;
    display: none;
    margin-left: 0.5rem;
}

.phones_div {
    grid-area: p;
    text-align: left;
    margin-left: auto;
    min-width: 9rem;
}

.call_time_div {
    grid-area: ct;
}

.header_text_div {
    grid-area: t;
    width: available;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_div {
    grid-area: c;
    /*flex: 1 1 auto;*/
    display: flex;
    margin: 1rem 3rem;
    position: relative;
    min-width: 3rem !important;
    min-height: 3rem !important;
}

.cart_icon {

}

.or_l {
    color: var(--c_orange);
}

.bor_l {
    color: var(--c_orange);
}

.bl_l {
    color: var(--c_black_purple);
}

.gr_l {
    color: var(--c_grey);
}

.call_time_div {
    font-weight: bolder;
    margin-left: 0;
    align-self: center;
}

.phone_li {
    margin: 0.4rem;
    text-decoration: underline;
}

@media screen and (max-width: 960px) {

    .header {
        grid-template: "b b l l l l l l l l l l l c c" "t t t t t t t t t t t t t t t";
    }

    .name_div a {
        display: inline-block;
        max-height: 1rem;
    }

    .name_div {
        font-size: 2rem;
        margin: 0.5rem auto 0 !important;
        padding: 0;
    }

    .header_container {
        min-width: 100%;
    }

    .menu_btn {
        display: block;
    }

    .cart_div {
        margin: 0;
        padding: 0.2rem 0 0;
    }

    .cart_div a {
        position: relative;
        right: 0;
    }

    .call_time_div, .phones_div {
        display: none;
    }

    .horizontal_navbar nav a {
        display: none;
    }

    .header_text_div {
        position: relative;
        top: -0.3rem;
    }
}