
.sectionsPage {
    background-color: var(--c_white);
    margin: 0.2rem 0.2rem 0.2rem 3rem;
    padding: 0.1rem;
}

.sectionsPane {
    margin: 0.1rem auto;
    padding: 0.1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 80rem;
}

.sectionsPane > div {
    max-width: 15rem;
}

.sectionsPane > div:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 0 5px grey;
}

@media screen and (max-width: 960px) {
    .sectionsPane {
        grid-template-columns: repeat(3, 1fr);
    }
}