
.section {
    padding: 0.3rem;
    margin: 0 auto;
    position: relative;
    min-width: 90%;
    height: 13rem;
}

.imgPart {
    position: relative;
    margin-bottom: 0.2rem;
    height: 8rem;
    align-items: baseline;
    min-width: 5rem;
}

.thumbnail {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
}

.infoPart {
    margin-left: 0.3rem;
    align-self: center;
    color: var(--c_black_purple);
    text-align: center;
    font-weight: 500;
    height: 4rem;
}

.price {
    font-size: 1rem;
    font-weight: 600;
}

.old_price {
    color: grey;
    text-decoration: line-through;
    margin: 0 0.3rem;
}

.sale_icon_div {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 5;
}

@media screen and (max-width: 960px) {
    .infoPart {
        font-size: smaller;
    }
}