
.container {
    margin-top: 8rem;
}

.main_block {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.content_pane {
    position: relative;
    /*width: 60%;*/
    margin: 0 1rem 0 15rem;
}

.nav_pane {
    position: fixed;
    padding-left: 1rem;
    z-index: 500;
    top: 10rem;
    transition: left 0.5s;
    width: 15rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToMain {
    margin: 3rem 0 0;
}

.footer {
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footer pre {
    font-family: inherit;
}

.mobile_list {
    display: none;
}

.menu_contacts {
    max-width: 25rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.menu_contacts li {
    text-decoration: underline;
    margin: 0.8rem 0;
}
.menu_contacts p {
    margin-left: 3rem;
    font-weight: bolder;
}

.locales_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.3rem auto;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 7px;
}

.locales_div hr {
    border: 0.01rem solid #a2a2a2;
    margin: 0;
    width: 2rem;
    align-self: center;
}

.locale, .active_locale {
    width: 100%;
    text-align: center;
    font-weight: lighter;
}

.locale a, .active_locale a {
    position: relative;
    /*padding: 0.3rem 1rem;*/
}

.active_locale {
    font-weight: 550;
}

@media screen and (min-width: 960px) {
    .nav_pane {
        left: 0 !important;
    }
}

@media screen and (max-width: 960px) {
    .container {
        margin: 5rem 0 0;
    }
    .nav_pane {
        top: 3.5rem;
        left: -110%;
        background-color: #fff;
        width: 100%;
        height: 95%;
        padding: 1rem;
        overflow-y: auto;
        margin-bottom: 3rem;
    }
    .content_pane {
        width: 96%;
        margin: 0 0.5rem;
    }

    .mobile_list {
        display: block;
    }
    .text_block {
        width: 100%;
    }
    .menu_contacts li {
        margin: 1.5rem 0;
    }
    .menu_contacts p {
        margin: 0.5rem;
    }
}