
.container {
    margin-top: 8rem;
}

.main_block {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.content_pane {
    position: relative;
    /*width: 60%;*/
    margin: 0 1rem 0 15rem;
}

.nav_pane {
    position: fixed;
    padding-left: 1rem;
    z-index: 500;
    top: 8rem;
    transition: left 0.5s;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToMain {
    margin: 3rem 0 0;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footer pre {
    font-family: inherit;
}

.mobile_list {
    display: none;
}

.menu_contacts {
    max-width: 25rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.menu_contacts li {
    text-decoration: underline;
    margin: 0.8rem 0;
}
.menu_contacts p {
    margin-left: 3rem;
    font-weight: bolder;
}

.locales_div {
    display: flex;
    justify-content: center;
    margin: 0.2rem 0 0.2rem 0.5rem;
    font-size: 2rem;
    border: 1px solid grey;
    box-shadow: 0 0 3px grey;
    width: 70%;
    height: fit-content;
    border-radius: 7px;
}

.locale, .active_locale {
    padding: 0 0 0.3rem;
    width: 100%;
    text-align: center;
}

.active_locale {
    background-color: #d0d0d0;
    font-weight: bolder;
}

@media screen and (max-width: 960px) {
    .container {
        margin: 5rem 0 0;
    }
    .nav_pane {
        top: 4rem;
        left: -110%;
        background-color: #fff;
        width: 100%;
        height: 95%;
        padding: 1rem;
        overflow-y: auto;
    }
    .content_pane {
        width: 96%;
        margin: 0 0.5rem;
    }

    .mobile_list {
        display: block;
    }
    .text_block {
        width: 100%;
    }
    .menu_contacts li {
        margin: 1.5rem 0;
    }
    .menu_contacts p {
        margin: 0.5rem;
    }
}