
.container {
    margin-left: 2rem;
}

.cart_box {
    min-height: 5rem;
    margin: 0.5rem;
    padding: 0 1rem 1rem;
    /*background-image: linear-gradient(to right, var(--c_bright_orange), transparent);*/
    border-radius: 1rem;
    border: 2px dashed grey;
    display: flex;
    flex-direction: column;
}

.cart_item {
    position: relative;
    display: grid;
    /*justify-content: left;*/
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr 1fr;
    /*background-color: rgba(100, 149, 237, 0.34);*/
    border: 1px solid grey;
    margin: 0.2rem 0.5rem;
    padding: 0.5rem;
    min-height: 5rem;
    /*overflow: hidden;*/
    align-items: center;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.25);
}

.thumbnail {
    object-fit: contain;
}

.cart_item * {
    /*margin-right: 2rem;*/
    min-height: 100%;
}

.delete_btn {
    width: 3rem;
    background-color: transparent;
    border: none;
    color: var(--c_black_purple);
    font-weight: bolder;
    margin-left: auto;
    margin-right: 0;
    border-radius: 50%;
}

.delete_btn:after{
    position: relative;
    top: -5px;
    right: -1px;
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
    font-size: 2.5rem;
    font-weight: bolder;
}

.form_box {
    margin-left: 1rem;
}

.sum_p {
    font-size: 1.2rem;
    font-weight: bolder;
}

.form_box label {
    font-weight: bolder;
    font-size: 1.2rem;
}

.form_input_item {
    display: grid;
    grid-template-columns: 2fr 6fr 6fr;
    width: 40rem;
    grid-gap: 1rem;
    position: relative;
    margin: 1rem;
}

.form_input_item input {
    width: 15rem;
    font-size: 1.2rem;
}

#comment textarea {
    resize: none;
    width: 30rem;
    font-size: 1.2rem;
}

.submit_btn {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 80%;
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
}

.heading_h {
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
    margin-left: 5rem;
    background: -webkit-linear-gradient(var(--c_black_purple), var(--c_orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.go_choose {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.order_done_div {
    font-size: 1.8rem;
    text-align: center;
}

.order_done_div li {
    text-decoration: underline;
}

@media screen and (max-width: 960px) {
    .container {
        margin: 0;
        overflow-x: hidden;
    }
    .cart_box {
        padding: 0.2rem;
    }
    .cart_item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0.5rem 0.5rem 0.5rem 4rem;
        margin: 0.2rem 0;
        font-size: 1.3rem;
    }
    .cart_item > span {
        position: absolute !important;
        top: 0;
        left: 0.3rem;
        width: 3rem !important;
    }
    .cart_item input {
        font-size: 1.1rem;
        width: 4rem;
    }
    .form_input_item {
        display: block;
    }
    .delete_btn {
       position: absolute;
        top: 0;
        right: 0;
    }
    .form_box label {
        display: block;
    }
    #comment textarea {
        width: 50%;
    }
}