

html {
  background-color: var(--c_white);
  min-width: 300px;
}

/*thumbnails in slider*/
._t1897 {
  object-fit: contain !important;
}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 1024px) {
  /*maximize btn*/
  ._1oKnM {
    top: 10% !important;
    right: 5% !important;
  }

  ._3WRGR {
    width: 3rem;
    height: 3rem;
  }
}

.main_page_text {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
}

.main_page_text p {
  margin: 1rem;
}

@media screen and (max-width: 960px) {
  .main_page_text {
    top: 5rem;
  }
}

