

html {
  background-color: var(--c_white);
  min-width: 300px;
}

/*thumbnails in slider*/
._t1897 {
  object-fit: contain !important;
}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 1024px) {
  /*maximize btn*/
  ._1oKnM {
    top: 10% !important;
    right: 5% !important;
  }

  ._3WRGR {
    width: 3rem;
    height: 3rem;
  }
}

.main_page_text {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
}

.main_page_text h2 {
  margin: 1rem;
}

.bread_cramps {
  margin-left: 3rem;
  color: #505050;
  font-size: 1.5rem;
}

.page_404 {
  width: 25rem;
  text-align: center;
  font-size: 3rem;
  height: 35rem;
  margin: 5rem auto 0;
  color: #574d28;
  font-weight: bolder;
}
.page_404 h1 {
  margin: 4rem;
  font-size: 6rem;
  color: rgba(255, 176, 83, 0.67);
}

button svg {
  stroke: #000000 !important;
}

@media screen and (max-width: 960px) {
  .main_page_text {
    top: -1rem;
  }
}

